.error-container {
    position: fixed;
    right: 5em;
    min-width: 80px;
    display: block;
    z-index: 11111;
    top: 13%;
    text-align: center;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    height: auto;
    width: 530px;
    box-shadow: 0px 0px 20px #BC243C;
    padding: 1em;
}

.error-container>p {
    background: #BC243C;
    font-size: 26px;
    padding: 20px;
    height: auto;
}

.error-container {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
    }
}

.home-info {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.home-welcome {
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* .home-card1 {
    position: absolute;
    top: 700px;
    left: 80px;
} */

img.cardImage {
    border: 4mm ridge rgba(211, 220, 50, .6);
    width: 450px;
    height: 300px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 131, 190);
}

.nav-links a {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(10, 10, 10);
}

/* LOGO */
.logo {
    display: block;
    text-align: center;
    height: 80px;
    width: 130px;
}

.braveEng {
    display: block;
    text-align: center;
    /* background-image: url("../images/imageOfText.png"); */
    height: 50px;
    width: 300px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color:rgb(177, 214, 250);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.services:hover .dropdown {
    display: block;
}

.homeSection {
    background-image: url('../images/home-background.png');
    width: 1905px;
    height: 800px;
}

.welcome-text {
    position: absolute;
    color: #fff;
    font-family: initial;
    font-size: 45px;
    top: 350px;
    left: 1150px;
}
