* {box-sizing: border-box}

.form-section{
   background-image: url('../images/background-section.png');
   width: 1900px;
   height: 820px;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 16px;
  position: absolute;
  top: 200px;
  left: 500px;
  width: 1000px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color:rgb(177, 214, 250);
  color: rgb(14, 14, 14);
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
    background-color:rgb(136, 192, 248);
}

a {
  color: dodgerblue;
}
