<h1 class="about">About</h1>
<p class="beginning">Here you can find some of the best adventurs that can make you feel alive!
    Combine fun
    with adventure and
    indulge in unforgettable emotions, the question is
</p>
<img src="/static/images/canoe.jpg" alt="" class="canou">