<section class="sectionAbout">
    <h1 class="about">About</h1>
        <p class="begining">We at brave enough understand entertainment and know how to fill your free time with emotions and experiences.
            Here you can find some of the best adventurs that can make you feel alive! We can quickly and easily
             organize your dream experience or make the most exciting gift for your loved ones.Combine fun
            with adventure and indulge in unforgettable emotions, the question is Are you brave enough ?</p>

        <img src="/static/images/canoe.jpg" alt="" class="canou">
    
        <p class="middle">
            Adventures are part of the little things that can charge the body and spirit with a huge amount of energy. This is
            and can be the most enjoyable way in which it makes sense to invest your money for leisure.
            We know how to take care of your comfort and personal experience and we know how to work with clients.
            We found the best in the field of extreme sports, relaxing procedures, art.
        </p>

        <img src="/static/images/balloon.jpg" alt="" class="ballon">

    <p class="end">
            We also know how much we love to see our loved ones happy and surprised, so we have prepared the most extreme 
            experiences, which will be an unforgettable gift.
            Trusting us, you will be able to realize your adventure dreams. In this way you will surely 
            feel that indescribable thrill that makes every person who loves adrenaline want to try !!!</p>

    <img src="/static/images/waterJet.jpg" alt=""  class="water">
</section>