<section class="sectionAbout">
    <h1 class="about" style="
        text-align:center;
        font-size: 50px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        ">About</h1>
        <p class="beginning">Here you can find some of the best adventurs that can make you feel alive!
            Combine fun
            with adventure and
            indulge in unforgettable emotions, the question is
            Are you brave enough ?
        </p>

        <img src="/static/images/canoe.jpg" alt="" class="canou">
      
        <p id="middle" style="
            font-size: 25px;
            position: absolute;
            width: 300px;
            top: 800px;
            left: 400px;
        ">
            Adventures are part of the little things that can charge the body and spirit with a huge amount of energy. This is
            and can be the most enjoyable way in which it makes sense to invest your money for leisure.
        </p>

        <img src="/static/images/balloon.jpg" alt="" class="ballon">

        <p class="end" style="
            font-size: 25px;
            position: absolute;
            top: 1200px;
            left: 900px;
            width: 300px;
            ">Trusting us, you will be able to realize your adventure dreams. In this way you will surely 
            feel that indescribable thrill that makes every person who loves adrenaline want to try !!!</p>

        <img src="/static/images/waterJet.jpg" alt="" style="
            position: absolute;
            top: 1200px;
            left: 400px;
            width: 300px;
            height: 300px;
        ">
</section>