
<section class="homeSection">
    <h1 class="welcome-text">Are you ready for Adventures</h1>
</section>




    {{!-- <h3 class="home-welcome">Welcome to our Adventure Site</h3>

    <p class="home-info">Here you can find some the best adventurs that can which can make you feel alive! Combine fun
        with adventure and
        indulge in unforgettable emotions, the question is ..</p>

    <div class="home-card1">
        <img class="cardImage" src="/static/images/parachute.jpg">
    </div> --}}
