<h3 class="home-welcome">Welcome to our Adventure Site</h3>

<p class="home-info">Here you can find some the best adventurs that can which can make you feel alive! Combine fun with adventure and
    indulge in unforgettable emotions, the question is ..</p>

<div class="container">
    <div class="card">
        <img class="card-image" src="/static/images/parachute.jpg">
    </div>
</div>