<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/{{style}}">
    <title>Advantures</title>
</head>

<body>
    {{!-- <h1 class="title">Brave Enough</h1> --}}

    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo"></div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/">Brave Enough</a></li>
                <li><a href="/adventures/all">Adventures</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/profile">{{user.email}}</a></li>
                {{#if user}}
                    <li class="services">
                        <a>Services</a>
                        <!-- DROPDOWN MENU -->
                        <ul class="dropdown">
                            <li><a href="/">See All Adventures </a></li>
                            {{!-- <li><a href="/">Create Adventure</a></li> --}}
                            {{!-- <li><a href="/">Dropdown 2</a></li>
                            <li><a href="/">Dropdown 3</a></li>
                            <li><a href="/">Dropdown 4</a></li> --}}
                        </ul>
                    </li>
                    <li><a href="/users/logout">Logout</a></li>
                {{else}}
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">Register</a></li>
                {{/if}}
            </div>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>